<?xml version="1.0" encoding="UTF-8"?>
<!-- 插件的Id，安装后注册的Id为此id加js-moudle的name属性,即cordova_plugins.js里的id属性 -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-walletjniport" version="1.0.0">
    <!-- 插件名称 -->
    <name>WalletJniPlugin</name>
    <!-- 插件描述 -->
    <description>Description</description>
    <!-- js文件的地址，安装后路径为：plugins/插件Id/src属性值 -->
    <js-module name="WalletJniPort" src="www/WalletJniPort.js">
    <!-- 跟asserts/cordova_plugins.js中填clobbers的值一样 -->
        <clobbers target="cordova.plugins.walletjniport"/>
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
        <!-- config-file中包含的这段会原封不动的插入到config.xml文件中 -->
            <feature name="WalletJniPort">
                <param name="android-package" value="com.android.walletport.WalletJniPort"/>
            </feature>
        </config-file>
       
        <source-file src="src/android/Base58.java" target-dir="src/com/android/walletport" />
        <source-file src="src/android/Utils.java" target-dir="src/com/android/walletport" />
        <source-file src="src/android/WalletJniPort.java" target-dir="src/com/android/walletport" />
        <!-- 
        <source-file src="src/android/libwallet_port.so" target-dir="app/libs/armeabi" />
        <lib-file src="src/android/libwallet_port.so" /> 
        -->
    </platform>
    <!-- 其他平台的代码 -->
</plugin>